HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Others ###
*.log
*.txt

### PrintBloom Specific ###
# User uploaded files
uploads/

# Do not commit sensitive keys! Create an application-local.properties if needed.
# For now, make sure you mask the keys in application.properties before pushing.
application-local.properties


deatailed_roadmap.md
implementation_plan.md
progress_tracker.txt
project_working_nature.md
run.log
out.txt
out2.txt
run-3.log
run-4.log
compile.log